<div class="row">
	<div class="jumbotron">
	  <h1>This is your Dashboard!</h1>
	  <p>A place where you can alter your website</p>
	</div>
</div>


<div class="row">
	<div class="col-md-5">
		<div class="admin-latest-item">
			
		</div>
	</div>
</div>

