<div class="admin-sidebar col-md-1">
	<div class="admin-sidebar-list">
		<div class="admin-sidebar-item" id="profile">
			<button type="button" class="btn btn-default btn-lg admin-sidebar-button">
				<span class="glyphicon glyphicon-star"></span>
			</button>
		</div>
		
		<a href="/add">
			<div class="admin-sidebar-item">
				<button type="button" class="btn btn-default btn-lg admin-sidebar-button">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
				Add Post
			</div>
		</a>
		
		<a href="/add">
		<div class="admin-sidebar-item">
			<button type="button" class="btn btn-default btn-lg admin-sidebar-button">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
			Remove Post
		</div>
		
		<a href="/add">
		<div class="admin-sidebar-item">
			<button type="button" class="btn btn-default btn-lg admin-sidebar-button">
				<span class="glyphicon glyphicon-pencil"></span>
			</button>
			Edit Post
		</div>
		
		<a href="/add">
		<div class="admin-sidebar-item">
			<button type="button" class="btn btn-default btn-lg admin-sidebar-button">
				<span class="glyphicon glyphicon-book"></span>
			</button>
			Admin Options
		</div>
		
		<a href="/add">
		<div class="admin-sidebar-item">
			<button type="button" class="btn btn-default btn-lg admin-sidebar-button">
				<span class="glyphicon glyphicon-align-left"></span>
			</button>
			Admin Data
		</div>
		
		<a href="/options">
			<div class="admin-sidebar-item">
				<button type="button" class="btn btn-default btn-lg admin-sidebar-button">
					<span class="glyphicon glyphicon-wrench"></span>
				</button>
				Options
			</div>
		</a>
	</div>
</div>