<div class="row add">
  <form id="edit_restaurant" action="edit_restaurant" name="edit_restaurant" method="post" role="form">
    <div class="row add-title">
      Edit Restaurant
    </div>
    <div class="well">
      <div class="form-group">
        <label for="restaurant">Restaurant Name:</label>
        <input type="text" id="restaurant" name="restaurant" placeholder="Restaurant Name..." class="form-control"  value="<%=restaurant.Restaurant%>" required>
      </div>
      <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" placeholder="Location..." class="form-control" value="<%=restaurant.location%>" required>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="10" placeholder="What Did You Feel About the Place..." class="form-control" required><%=restaurant.Description%></textarea>
      </div>
      <div class="form-group">
        <label for="blurb">Blurb:</label>
        <textarea id="blurb" rows="2" name="blurb" placeholder="Quick Description of the Restaurant..." class="form-control"  required><%=restaurant.Blurb%></textarea>
      </div>
      <div class="form-group">
        <label for="pics">Import Picture</label>
        <input type="file" id="pics">
        <p class="help-block">Insert Text Here</p>
      </div>
      <button type="submit" class="btn btn-default">Submit Changes and Go to Dishes</button>
    </div>
  </form>
</div>
