<div class="row index-head">
	<div class="col-md-5">
		<div class="index-logo">
			A Banana Perspective
		</div>
		<div class="index-subheader">
			Food and Life by a Chinese Filipino
		</div>
	</div>
	<div class="col-md-7">
		<div class="row index-welcome">
			Welcome to A Banana Perspective, Enjoy the Read!
		</div>
		<div class="row index-links col-md-offset-4">
			<a href="/">
				<div class="index-nav-button col-md-2" id="home">
					Home
				</div>
			</a>
			
			<a href="/food">
				<div class="index-nav-button col-md-2" id="food">
					Food
				</div>
			</a>
			
			<div class="index-nav-button col-md-2" id="life">
				Life
			</div>
			<div class="index-nav-button col-md-2" id="me">
				Me
			</div>
		</div>
	</div>
</div>