<div class="row index-head">
	<div class="row">
		<div class="col-md-offset-1 col-md-4 main-logo">
			A Banana Perspective
		</div>
	</div>
	
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav nav-justified">
	        <li><a href="/">Home</a></li>
	        <li><a href="/food">Food</a></li>
			<li><a href="/life">Life</a></li>
			<li><a href="/me">Me</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</div>