<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>A Banana Perspective by Christian Huang</title>
		<meta description="A review of all the restaurants I can find in the Metro Manila Area">
		<meta author="Christian Huang">
		
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/styles.css" />
		
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/bootstrap/js/carousel.js"></script>
	</head>
	<% if (!admin) { %>
	<body class="not-body-admin">
		<div class="container-fluid">
			<div class="layout-body">
				<%- include header.ejs %>
				<%- body %>
			</div>
		</div>
	</body>
	<% } else { %>
	<body>
		<div class="container-fluid">
			<% include admin-sidebar.ejs %>
			<div class="container col-md-offset-2 col-md-9">
				<div class="layout-body admin-body">
					<%- body %>
				</div>
			</div>
		</div>
	</body>
	<% } %>
</html>