<% if(life.length > 0) { %>
<% for(var i=0; i<10; i++) {%>
	<div class='row'>
		<div class="col-md-12 life-item">
			<div class="life-date"><%= life[i].date %></div>
			<div class="life-item-header"><%= life[i].topic %></div>
			<img src="life[i].img" class="life-picture">
			<div class="life-blurb"><%= life[i].blurb %></div>
		</div>
	</div>
<% } %>
<% } %>