<div class="row login">
	<form id="login-form" action="user-login" method="post">
		<div class="row login-box">
			<label for="username">Username: </label>
			<input type="text" id="username" name="username"></input>
		</div>
		<div class="row login-box">
			<label for="password">Password: </label>
			<input type="password" id="password" name="password"></input>
		</div>
		<div class="row">
			<input type="submit" value="Submit"></input>
		</div>
	</form>
</div>